/*[ _fonts.scss ]*/
@mixin base-font {
	family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	weight: 300;
}

@mixin heading-font {
	family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}