/*[ _grid.scss ]*/
$row-width: 62.5rem;
$column-gutter: rem-calc(30);
$total-columns: 12 ;

@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em)  { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em)  { @content ; }

	}
}

.row {
	@include clearfix;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: $row-width;
	.row {
		width: auto;
		margin-left: -0.9375em;
		margin-right: -0.9375em;
		max-width: none;
	}
}

%columns {
	position: relative;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
	float: left;
}

.col-12 {
	@extend %columns;
	width: 100%
}

.col-11 {
	@extend %columns;
	width: (($row-width/$total-columns) * 11);
}

.col-10 {
	@extend %columns;
	width: (($row-width/$total-columns) * 10);
}

.col-9 {
	@extend %columns;
	width: (($row-width/$total-columns) * 9);
}

.col-8 {
	@extend %columns;
	width: (($row-width/$total-columns) * 8);
}

.col-7 {
	@extend %columns;
	width: (($row-width/$total-columns) * 7);
}

.col-6 {
	@extend %columns;
	width: 100%;
	max-width: (($row-width/$total-columns) * 6);
}

.col-5 {
	@extend %columns;
	width: (($row-width/$total-columns) * 5);
}

.col-4 {
	@extend %columns;
	width: (($row-width/$total-columns) * 4);
}

.col-3 {
	@extend %columns;
	width: (($row-width/$total-columns) * 3);
}

.col-2 {
	@extend %columns;
	width: (($row-width/$total-columns) * 2);
}

.col-1 {
	@extend %columns;
	width: ($row-width/$total-columns);
}

.offset-11 {
	margin-left: (($row-width/$total-columns) * 11);
}

.offset-10 {
	margin-left: (($row-width/$total-columns) * 10);
}

.offset-9 {
	margin-left: (($row-width/$total-columns) * 9);
}

.offset-8 {
	margin-left: (($row-width/$total-columns) * 8);
}

.offset-7 {
	margin-left: (($row-width/$total-columns) * 7);
}

.offset-6 {
	margin-left: (($row-width/$total-columns) * 6);
}

.offset-5 {
	margin-left: (($row-width/$total-columns) * 5);
}

.offset-4 {
	margin-left: (($row-width/$total-columns) * 4);
}

.offset-3 {
	margin-left: (($row-width/$total-columns) * 3);
}

.offset-2 {
	margin-left: (($row-width/$total-columns) * 2);
}

.offset-1 {
	margin-left: ($row-width/$total-columns);
}

.col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,.col-1 {
	@include breakpoint(mobileonly) {
		width: 100%;
	}
}
