/*[ _weather.scss ]*/
.weather-icon {
	display: block;
	margin: 0 auto;
	width: 256px;
	height: 256px;
}

.weather-forecast {
	color: #fbffff;
	text-align: center;
	font: {
		@include base-font;
		size: 3.75em;
		weight: 400;
	}
}