/*[ stylesheet.scss ]*/

@import "reset";
@import "mixins";
@import "grid";
@import "fonts";
@import "colors";
@import "animations";
@import "weather";

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
}
body {
	position: relative;
	background-color: #343a3e;
	font: {
		@include base-font;
	}
	color: #7da1ac;
	width: 100%;
	height: 100%;
}

input, textarea { 
	border: none;
}

h1, h2, h3, h4 {
	color: #fbffff;
	font: {
		weight: 300;
	}
}

img {
	max-width: 100%;
	height: auto;
}

h3.title {
	font: {
		@include heading-font;
	}
	color: #fbffff;
}

p {
	line-height: 1.5em;
}

.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.centered-text {
	text-align: center;
}

nav {
	@include clearfix;
	background-color: #343a3e;
	background-color: rgba(#343a3e, 0.95);
	padding: 0.9375em;
	li:first-child {
		margin-top: 0.9375em;
	}
	a {
		color: #fbffff;
		text-decoration: none;
		font: {
			weight: 300;
			size: 4em;
		}
		@include breakpoint(mobileonly) {
			font: {
				size: 2em;
			}
		}
	}
	&.active {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		@extend .fadeIn;
	}
}

nav > ul > li {
	line-height: 4.8em;
	@include breakpoint(mobileonly) {
		line-height: 2.4em;
	}
}

.site-name {
	float: left;
	font: {
		@include heading-font;
		size: 1.125em;
	}
}

.nav-toggle {
	float: right;
	display: inline-block;
	cursor: pointer; 
	padding: 10px 35px 16px 0px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	span, span:before, span:after {
		cursor: pointer;
		border-radius: 1px;
		height: 3px;
		width: 35px;
		background-color: #7da1ac;
		position: absolute;
		display: block;
		content: '';
		transition: all 500ms ease-in-out;
	}
	span:before {
		-webkit-transform:translateY(-10px);
		transform:translateY(-10px);
	}
	span:after {
		-webkit-transform:translateY(10px);
		transform:translateY(10px);
	}
	&.active span {
		background-color: transparent;
		&:before {
			-webkit-transform: rotate(45deg) translateY(0);
			transform: rotate(45deg)  translateY(0);
		}
		&:after {
			-webkit-transform: rotate(-45deg) translateY(0);
			transform: rotate(-45deg)  translateY(0);
		}
	}
}

.subtitle {
	font-size: 1rem;
	font-family: 'Roboto Slab', serif;
 	
}

.project-image {
	width: 100%;
	max-width: 100%;
	display: block;
	margin-top: (0.9375em / 2);
	margin-bottom: (0.9375em / 2);
}

.button {
	font: {
		weight: 700;
	}
	padding: 12px 16px;
	color: #FF4143;
	background-color: #fff;
	text-decoration: none;
	text-align: center;
	@include border-radius(2px);		
	@include breakpoint(mobileonly) {
		display: inline-block;
		width: 100%;
	}
}

.page-footer {
	margin-top: (0.9375em * 2);
	margin-bottom: 0.9375em;
	font: {
		size: 0.875em;
		weight: 300;
	}
}

.lead-in {
	font: {
		@include heading-font;
		size: 1.5em;
		weight: 300;
	}
	line-height: 1.8em;	
	@include breakpoint(mobileonly) {
		text-align: center;
	}

	.brand-emphasis {
		color: #fbffff;
		font: {
			weight: 700;
		}
	}
}

/*[ lists ]*/
.unstyled-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*[ forms ]*/
.email-form {
	input[type="text"],input[type="email"], textarea {
		display: block;
		width: 100%;
		color: $primaryColor;
		resize: none;
		margin-bottom: 8px;
		padding: 8px;
		@include border-radius(2px);
	}
	.button {
		background-color: darken($primaryColor, 5%);
		border: none;
		color: $textColor;
		&:hover {
			background-color: darken($primaryColor, 7%);
		}
	}
}

/*[ media ]*/
.video-container {
	max-width: 100%;
}

.hide {
	display: none;
}

.show {
	display: block;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	.overlay h1 {
		font-size: 1.3125rem;
	}
}