/*[ stylesheet.scss ]*/

@import "reset";
@import "grid";
@import "fonts";
@import "colors";
@import "animations";
@import "weather";
@import "placeholders";

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
}
body {
	background-color: #343a3e;
	font: {
		@include base-font;
	}
	color: #7da1ac;
	width: 100%;
	height: 100%;
}

h3.title {
	font: {
		@include heading-font;
	}
	color: #fbffff;
}

p {
	line-height: 1.5em;
}

.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav {
	background-color: #FFF4E3;
	padding: 0.9375em;
	li:first-child {
		margin-top: 0.9375em;
	}
	a {
		color: $textColor;
		text-decoration: none;
		font: {
			@include heading-font;
			weight: 300;
			size: 4em;
		}
		@include breakpoint(mobileonly) {
			font: {
				size: 2em;
			}
		}
	}
	.active {
		a {
			color: $accentColor;
			font: {
				family: "Roboto Slab", sans-serif;
				weight: 700;
			}
			border-left: $accentColor 2px solid;
			padding-left: 4px;
		}
	}
}

nav > ul > li {
	color: #fff;
	line-height: 4.8em;
	@include breakpoint(mobileonly) {
		line-height: 2.4em;
	}
}

.nav-toggle { 
	display: inline-block;
	cursor: pointer; 
	padding: 10px 35px 16px 0px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	span, span:before, span:after {
		cursor: pointer;
		border-radius: 1px;
		height: 3px;
		width: 35px;
		background-color: #A0AF9C;
		position: absolute;
		display: block;
		content: '';
		transition: all 500ms ease-in-out;
	}
	span:before {
		-webkit-transform:translateY(-10px);
		transform:translateY(-10px);
	}
	span:after {
		-webkit-transform:translateY(10px);
		transform:translateY(10px);
	}
	&.active span {
		background-color: transparent;
		&:before {
			-webkit-transform: rotate(45deg) translateY(0);
			transform: rotate(45deg)  translateY(0);
		}
		&:after {
			-webkit-transform: rotate(-45deg) translateY(0);
			transform: rotate(-45deg)  translateY(0);
		}
	}
}

.nav-list {
	display: none;
}

.project-description-panel {
	background-color: #A0AF9C;
	color: #FFF4E3;
	padding: 0.9375em;
	h1 {
		font: {
			family: "Roboto Slab", sans-serif;
			size: 6em;
			size: 11vw;
		}
		&:first-child {
			margin-top: 0;
		}
	}
	.down-arrow {
		position: absolute;
		bottom: 0.9375em;
		left: 50%;
		margin-left: -12px;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		span {
			width: 24px;
			height: 24px;
			border-bottom: #FFF4E3 2px solid;
			border-left: #FFF4E3 2px solid;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			display: inline-block;
			cursor: pointer;
		}
	}
}

.subtitle {
	font-size: 1rem;
	font-family: 'Roboto Slab', serif;
 	
}

.project-image {
	width: 100%;
	max-width: 100%;
	display: block;
}

.button {
	padding: 6px 12px;
	color: #FF4143;
	background-color: #fff;
	border-radius: 3px;
	text-decoration: none;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	.overlay h1 {
		font-size: 1.3125rem;
	}
}